<!-- footer -->
<footer class="text-muted">
<div class="container py-3">
<p class="float-right">
<a href="/">回首頁</a>
</p>
<p>2020 &copy; 版權所有 Sean Yeh 出品</p>
<p>剛來的嗎？要不要先去逛逛<a href="/about">關於我們</a> 頁面，裡面可以知道我們是誰或者是去逛逛<a href="/product">產品資訊</a>，暸解我們在賣什麼。</p>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<!-- // footer -->